In [317]:
import pandas as pd

In [362]:
f1 = "AUSNUT 2011-13 AHS Food Nutrient Database.xls"
f2 = "Release 1 - Food nutrient database.xlsx"

file1 = pd.read_excel(f1)
file2 = pd.read_excel(f2)

In [335]:
file2 = pd.ExcelFile(f2)
file2.sheet_names

['Index',
 'All solids & liquids per 100g',
 'Liquids only - per 100 mL',
 'Solid per 100g & liq per 100mL']

In [336]:
file21 = file2.parse("All solids & liquids per 100g")
file21.head()

,Public Food Key,Classification,Food Name,"Energy, with dietary fibre","Energy, without dietary fibre",Moisture (water),Protein,Nitrogen,Total Fat,Ash,...,Proline,Unnamed: 243,Serine,Unnamed: 245,Threonine,Unnamed: 247,Tyrosine,Unnamed: 249,Valine,Unnamed: 251
0,NaN,NaN,NaN,kJ,kJ,g,g,g,g,g,...,mg/g N,mg,mg/g N,mg,mg/g N,mg,mg/g N,mg,mg/g N,mg
1,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F002963,31302.0,"Cinnamon, dried, ground",1004,579,10.6,4,0.64,1.2,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F002970,31302.0,"Cloves, dried, ground",1389,1118,9.9,6,0.96,13,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [337]:
col = ['Food Name', 'Protein', 'Total dietary fibre', 'Total Fat', 
       'Fructose', 'Glucose', 'Sucrose', 'Maltose', 'Lactose', 'Total sugars'] 
#        'Added sugars', 'Free sugars']
file22 = file21[col].loc[1:,:]
file23 = file22.fillna(0)#.dropna()
file23.head()

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
1,"Cardamom seed, dried, ground",10.8,28.0,6.7,0.0,0.0,0.0,0.0,0.0,4.4
2,"Chilli (chili), dried, ground",13.4,34.8,14.3,0.0,0.0,0.0,0.0,0.0,7.2
3,"Cinnamon, dried, ground",4.0,53.1,1.2,0.0,0.0,0.0,0.0,0.0,2.2
4,"Cloves, dried, ground",6.0,33.9,13.0,0.0,0.0,0.0,0.0,0.0,2.4
5,"Coriander seed, dried, ground",12.4,41.9,17.8,0.0,0.0,0.0,0.0,0.0,2.4

In [338]:
file23.shape

(1534, 10)

# 1.Fruit

Ackee; Bananas, unripe; Bilberries; Blueberries; Breadfruit; Carambola

Cantaloupe; Cranberry â€“ 1 tbsp; Clementine; Dragon fruit 

Lingonberries; Grapes; Guava, ripe; Honeydew and Galia melons; Kiwifruit;

Lemon including lemon juice; Lime including lime juice; Mandarin; Orange; 

Passion fruit; Paw paw; Papaya; Pineapple

Plantain, peeled; Prickly pear / nopales; Raspberry; Rhubarb

Strawberry; Tamarind; Tangelo

In [339]:
name = 'Raspberry'
f1 = file23[file23['Food Name'].str.contains(name) | file23['Food Name'].str.contains(name.lower())]
if f1.shape[0] != 0:
    fruit += [name] + f1.loc[:,f1.columns[1:]].mean().tolist()

f1

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
600,"Raspberry, raw",1.1,5.6,0.2,3.5,2.9,0.1,0.0,0.0,6.5
601,"Raspberry, purchased frozen",1.1,5.6,0.2,3.5,2.9,0.1,0.0,0.0,6.5
602,"Raspberry, canned in syrup",0.6,2.5,0.1,7.8,7.7,1.4,0.0,0.0,16.8
603,"Raspberry, canned in syrup, drained",1.0,6.0,0.2,7.3,7.3,1.3,0.0,0.0,15.9
604,"Raspberry, canned in syrup, syrup only",0.2,0.0,0.0,8.1,8.0,1.4,0.0,0.0,17.5

In [340]:
name_list = ['Blueberry', 'Cranberry', 'Grape', 'Guava', 'Kiwifruit', 'Lemon', 'Lime', 'Mandarin',
             'Orange', 'Passion', 'Paw', 'Pineapple', 'Prickly', 
             'Rhubarb', 'Strawberry', 'Raspberry', 'Tangelo']

fruit = []
for name in name_list:
    f1 = file23[file23['Food Name'].str.contains(name) & file23['Food Name'].str.contains('raw')]
    if f1.shape[0] != 0:
        fruit += [ [name] + f1.loc[:,f1.columns[1:]].mean().tolist() ]

In [341]:
fruit_df = pd.DataFrame(fruit, columns=file23.columns).dropna().round(1)
fruit_df = fruit_df.sort_values(by=['Fructose'], ascending=True).reset_index(drop=True)
fruit_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
0,Cranberry,0.5,3.6,0.1,0.0,0.0,0.0,0.0,0.0,4.3
1,Lemon,1.0,6.6,0.2,0.3,0.4,0.2,0.0,0.0,0.9
2,Lime,0.8,4.1,0.2,0.5,0.5,0.2,0.0,0.0,1.2
3,Rhubarb,1.5,2.2,0.2,0.7,0.9,0.1,0.0,0.0,1.7
4,Tangelo,0.6,2.0,0.1,1.0,1.7,5.1,0.0,0.0,7.8
5,Pineapple,0.6,1.8,0.2,1.8,1.3,5.2,0.0,0.0,8.2
6,Passion,3.0,13.9,0.3,1.9,2.3,1.5,0.0,0.0,5.7
7,Guava,0.7,5.4,0.5,2.0,1.1,0.3,0.0,0.0,3.4
8,Orange,1.0,2.4,0.0,2.1,1.9,4.2,0.0,0.0,8.2
9,Mandarin,0.9,1.6,0.0,2.6,2.2,5.0,0.0,0.0,9.8
10,Paw,0.4,2.3,0.1,3.3,3.6,0.0,0.0,0.0,6.9
11,Raspberry,1.1,5.6,0.2,3.5,2.9,0.1,0.0,0.0,6.5
12,Prickly,0.4,4.6,0.3,3.9,4.7,0.2,0.0,0.0,8.8
13,Blueberry,0.5,3.5,0.0,4.8,4.4,0.0,0.0,0.0,9.2
14,Kiwifruit,1.2,2.4,0.6,5.2,4.6,0.0,0.0,0.0,9.9
15,Strawberry,0.6,2.0,0.2,6.1,5.9,0.8,0.0,0.0,12.7
16,Grape,1.0,2.8,0.1,6.9,6.6,0.2,0.0,0.0,13.7

In [342]:
fruit_df['rate'] = 0
fruit_df.loc[ (fruit_df.Fructose <= 1), 'rate'] = 1
fruit_df.loc[ (fruit_df.Fructose > 1) & (fruit_df.Fructose <= 2), 'rate'] = 0.9
fruit_df.loc[ (fruit_df.Fructose > 2) & (fruit_df.Fructose <= 3), 'rate'] = 0.8
fruit_df.loc[ (fruit_df.Fructose > 3) & (fruit_df.Fructose <= 4), 'rate'] = 0.7
fruit_df.loc[ (fruit_df.Fructose > 4), 'rate'] = 0.6

fruit_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars,rate
0,Cranberry,0.5,3.6,0.1,0.0,0.0,0.0,0.0,0.0,4.3,1.0
1,Lemon,1.0,6.6,0.2,0.3,0.4,0.2,0.0,0.0,0.9,1.0
2,Lime,0.8,4.1,0.2,0.5,0.5,0.2,0.0,0.0,1.2,1.0
3,Rhubarb,1.5,2.2,0.2,0.7,0.9,0.1,0.0,0.0,1.7,1.0
4,Tangelo,0.6,2.0,0.1,1.0,1.7,5.1,0.0,0.0,7.8,1.0
5,Pineapple,0.6,1.8,0.2,1.8,1.3,5.2,0.0,0.0,8.2,0.9
6,Passion,3.0,13.9,0.3,1.9,2.3,1.5,0.0,0.0,5.7,0.9
7,Guava,0.7,5.4,0.5,2.0,1.1,0.3,0.0,0.0,3.4,0.9
8,Orange,1.0,2.4,0.0,2.1,1.9,4.2,0.0,0.0,8.2,0.8
9,Mandarin,0.9,1.6,0.0,2.6,2.2,5.0,0.0,0.0,9.8,0.8
10,Paw,0.4,2.3,0.1,3.3,3.6,0.0,0.0,0.0,6.9,0.7
11,Raspberry,1.1,5.6,0.2,3.5,2.9,0.1,0.0,0.0,6.5,0.7
12,Prickly,0.4,4.6,0.3,3.9,4.7,0.2,0.0,0.0,8.8,0.7
13,Blueberry,0.5,3.5,0.0,4.8,4.4,0.0,0.0,0.0,9.2,0.6
14,Kiwifruit,1.2,2.4,0.6,5.2,4.6,0.0,0.0,0.0,9.9,0.6
15,Strawberry,0.6,2.0,0.2,6.1,5.9,0.8,0.0,0.0,12.7,0.6
16,Grape,1.0,2.8,0.1,6.9,6.6,0.2,0.0,0.0,13.7,0.6

In [343]:
fruit_df.to_csv('fruit rec.csv', index=False)

# 2. Meats, Poultry and Meat Substitutes

Beef; Chicken; Foie gras; Kangaroo; Lamb; Pork; Prosciutto; Quorn, mince; Turkey; Cold cuts / deli meat / cold meats such as ham and turkey breast; Processed meat â€“ check ingredients
 

Fish and Seafood
* Canned tuna
* Fresh fish e.g.
    * Cod; Haddock; Plaice; Salmon; Trout; Tuna
* Seafood (ensuring nothing else is added) e.g.
    * Crab; Lobster; Mussels; Oysters; Prawns; Shrimp

In [344]:
meat = []
name_list = ['Beef', 'Chicken', 'Kangaroo', 'Lamb', 'Pork', 'Turkey', 'Cod', 
        'Salmon', 'Trout', 'Tuna', 'Crab', 'Lobster', 'Oyster', 'Prawn']

for name in name_list:
    f1 = file23[file23['Food Name'].str.contains(name) & file23['Food Name'].str.contains('raw')]
    if f1.shape[0] != 0:
        f1 = f1.sort_values(by=['Total Fat'], ascending=True)
        f2 = f1.head(5)
        meat += [[name] + f1.loc[:,f1.columns[1:]].mean().tolist()]

In [345]:
meat_df = pd.DataFrame(meat, columns=file23.columns).dropna().round(1).reset_index(drop=True)
meat_df = meat_df.sort_values(by=['Total Fat'], ascending=True).reset_index(drop=True)
meat_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
0,Lobster,20.2,0.0,0.7,0.0,0.0,0.0,0.0,0.0,0.0
1,Kangaroo,20.6,0.0,0.9,0.0,0.0,0.0,0.0,0.0,0.0
2,Prawn,21.3,0.0,0.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Cod,18.8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Tuna,23.4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Oyster,9.7,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0
6,Beef,22.4,0.0,7.3,0.0,0.0,0.0,0.0,0.0,0.0
7,Turkey,19.8,0.0,7.4,0.0,0.0,0.0,0.0,0.0,0.0
8,Lamb,20.8,0.0,10.1,0.0,0.0,0.0,0.0,0.0,0.0
9,Chicken,16.7,0.0,14.8,0.0,0.0,0.0,0.0,0.0,0.0
10,Pork,19.5,0.0,15.9,0.0,0.0,0.0,0.0,0.0,0.0
11,Trout,18.5,0.0,16.5,0.0,0.0,0.0,0.0,0.0,0.0
12,Salmon,19.3,0.0,19.8,0.0,0.0,0.0,0.0,0.0,0.0

In [352]:
meat_df['rate'] = 0
meat_df.loc[ (meat_df['Total Fat'] <= 4), 'rate'] = 1
meat_df.loc[ (meat_df['Total Fat'] > 4) & (meat_df['Total Fat'] <= 8), 'rate'] = 0.9
meat_df.loc[ (meat_df['Total Fat'] > 8) & (meat_df['Total Fat'] <= 12), 'rate'] = 0.8
meat_df.loc[ (meat_df['Total Fat'] > 12) & (meat_df['Total Fat'] <= 16), 'rate'] = 0.7
meat_df.loc[ (meat_df['Total Fat'] > 16), 'rate'] = 0.6

meat_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars,rate
0,Lobster,20.2,0.0,0.7,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Kangaroo,20.6,0.0,0.9,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Prawn,21.3,0.0,0.9,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Cod,18.8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Tuna,23.4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,Oyster,9.7,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,Beef,22.4,0.0,7.3,0.0,0.0,0.0,0.0,0.0,0.0,0.9
7,Turkey,19.8,0.0,7.4,0.0,0.0,0.0,0.0,0.0,0.0,0.9
8,Lamb,20.8,0.0,10.1,0.0,0.0,0.0,0.0,0.0,0.0,0.8
9,Chicken,16.7,0.0,14.8,0.0,0.0,0.0,0.0,0.0,0.0,0.7
10,Pork,19.5,0.0,15.9,0.0,0.0,0.0,0.0,0.0,0.0,0.7
11,Trout,18.5,0.0,16.5,0.0,0.0,0.0,0.0,0.0,0.0,0.6
12,Salmon,19.3,0.0,19.8,0.0,0.0,0.0,0.0,0.0,0.0,0.6

In [353]:
meat_df.to_csv('meat rec.csv', index=False)

# 3. Vegetables

Alfalfa; Bean sprouts; Beetroot, canned and pickled
Black beans; Bok choy / pak choi
Broccoli; Broccoli, heads only â€“ 3/4 cup
Broccoli; Broccolini; Brussels sprouts â€“ 2 sprouts
Butternut squash; Cabbage, common and red up to 3/4 cup
Callaloo; Carrots
Celeriac; Celery â€“ less than 5cm of stalk
Chicory leaves; Chick peas â€“ 1/4 cup
Chilli â€“ if tolerable; Chives
Cho cho â€“ 1/2 cup diced; Choy sum
Collard greens; Corn / sweet corn â€“ if tolerable and only in small amounts â€“ 1/2 cob
Courgette; Cucumber
Eggplant / aubergine; Fennel
Green beans; Green pepper / green bell pepper / green capsicum
Ginger; Kale; Karela



Leek leaves; Lentils â€“ in small amounts
Lettuce:
Butter lettuce
Iceberg lettuce
Radicchio lettuce
Red coral lettuce
Rocket lettuce

Romaine/Cos lettuce; Marrow
Okra; Olives
Parsnip; Peas, snow â€“ 5 pods
Pickled gherkins; Pickled onions, large
Potato; Pumpkin
Pumpkin; Radish; Red peppers / red bell pepper / red capsicum
Scallions / spring onions (green part); Seaweed / nori
Silverbeet / chard; Spaghetti squash
Spinach, baby; Squash
Sun-dried tomatoes â€“ 4 pieces
Swede; Swiss chard; Sweet potato â€“ 1/2 cup
Tomato â€“ canned, cherry, common, roma
Tomatillos â€“ canned; Turnip
Water chestnuts; Yam; Zucchini

In [349]:
vegtable = []
name_list = ['Bean', 'Beetroot', 'Bok', 'Broccoli', 'Brussels', 'Cabbage', 'Carrot', 'Kale', 'Leek',
        'Celeriac', 'Chicory', 'Chilli', 'Corn', 'Cucumber', 'Eggplant', 'Fennel', 'Ginger', 'Lettuce']

for name in name_list:
    f1 = file23[file23['Food Name'].str.contains(name) & file23['Food Name'].str.contains('raw')]
    if f1.shape[0] != 0:
        f1 = f1.sort_values(by=['Total Fat'], ascending=True)
        f2 = f1.head(5)
        vegtable += [[name] + f1.loc[:,f1.columns[1:]].mean().tolist()]

In [350]:
vegtable_df = pd.DataFrame(vegtable, columns=file23.columns).dropna().round(1).reset_index(drop=True)
vegtable_df = vegtable_df.sort_values(by=['Total dietary fibre'], ascending=True).reset_index(drop=True)
vegtable_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
0,Cucumber,0.8,1.0,0.1,0.9,0.8,0.0,0.0,0.0,1.6
1,Lettuce,1.2,1.5,0.2,0.6,0.5,0.0,0.0,0.0,1.1
2,Fennel,1.0,1.8,0.1,1.4,1.4,0.5,0.0,0.0,3.3
3,Chicory,1.8,1.8,0.2,0.4,0.3,0.0,0.0,0.0,0.7
4,Cabbage,1.6,2.3,0.2,0.6,0.9,0.1,0.0,0.0,1.7
5,Bok,2.5,2.4,0.2,0.2,0.4,0.0,0.0,0.0,0.6
6,Eggplant,1.1,2.4,0.3,1.1,1.4,0.1,0.0,0.0,2.6
7,Ginger,0.8,2.8,0.4,0.9,0.8,0.0,0.0,0.0,1.7
8,Leek,2.1,3.1,0.4,1.5,1.5,0.7,0.0,0.0,3.7
9,Broccoli,4.0,3.1,0.4,0.4,0.4,0.0,0.0,0.0,0.8
10,Corn,3.3,3.2,1.4,0.6,0.6,2.8,0.1,0.0,4.2
11,Carrot,0.6,3.4,0.0,1.1,1.4,3.4,0.0,0.0,5.8
12,Beetroot,1.9,3.5,0.1,0.0,0.0,8.4,0.0,0.0,8.4
13,Kale,4.3,3.6,0.1,0.0,0.0,0.0,0.0,0.0,2.3
14,Brussels,3.8,4.5,0.3,0.8,1.0,0.3,0.0,0.0,2.1
15,Celeriac,1.6,5.1,0.2,0.6,0.4,1.8,0.0,0.0,2.8
16,Bean,5.9,5.3,0.3,0.6,0.5,0.5,0.0,0.0,1.6
17,Chilli,2.1,11.8,0.4,1.3,1.2,0.0,0.0,0.0,2.6

In [354]:
vegtable_df['rate'] = 0
vegtable_df.loc[ (vegtable_df['Total dietary fibre'] <= 2), 'rate'] = 1

vegtable_df.loc[ (vegtable_df['Total dietary fibre'] > 2) &
                 (vegtable_df['Total dietary fibre'] <= 4), 'rate'] = 0.9

vegtable_df.loc[ (vegtable_df['Total dietary fibre'] > 4) &
                 (vegtable_df['Total dietary fibre'] <= 6), 'rate'] = 0.8

vegtable_df.loc[ (vegtable_df['Total dietary fibre'] > 6) & 
                 (vegtable_df['Total dietary fibre'] <= 8), 'rate'] = 0.7

vegtable_df.loc[ (vegtable_df['Total dietary fibre'] > 8), 'rate'] = 0.6

vegtable_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars,rate
0,Cucumber,0.8,1.0,0.1,0.9,0.8,0.0,0.0,0.0,1.6,1.0
1,Lettuce,1.2,1.5,0.2,0.6,0.5,0.0,0.0,0.0,1.1,1.0
2,Fennel,1.0,1.8,0.1,1.4,1.4,0.5,0.0,0.0,3.3,1.0
3,Chicory,1.8,1.8,0.2,0.4,0.3,0.0,0.0,0.0,0.7,1.0
4,Cabbage,1.6,2.3,0.2,0.6,0.9,0.1,0.0,0.0,1.7,0.9
5,Bok,2.5,2.4,0.2,0.2,0.4,0.0,0.0,0.0,0.6,0.9
6,Eggplant,1.1,2.4,0.3,1.1,1.4,0.1,0.0,0.0,2.6,0.9
7,Ginger,0.8,2.8,0.4,0.9,0.8,0.0,0.0,0.0,1.7,0.9
8,Leek,2.1,3.1,0.4,1.5,1.5,0.7,0.0,0.0,3.7,0.9
9,Broccoli,4.0,3.1,0.4,0.4,0.4,0.0,0.0,0.0,0.8,0.9
10,Corn,3.3,3.2,1.4,0.6,0.6,2.8,0.1,0.0,4.2,0.9
11,Carrot,0.6,3.4,0.0,1.1,1.4,3.4,0.0,0.0,5.8,0.9
12,Beetroot,1.9,3.5,0.1,0.0,0.0,8.4,0.0,0.0,8.4,0.9
13,Kale,4.3,3.6,0.1,0.0,0.0,0.0,0.0,0.0,2.3,0.9
14,Brussels,3.8,4.5,0.3,0.8,1.0,0.3,0.0,0.0,2.1,0.8
15,Celeriac,1.6,5.1,0.2,0.6,0.4,1.8,0.0,0.0,2.8,0.8
16,Bean,5.9,5.3,0.3,0.6,0.5,0.5,0.0,0.0,1.6,0.8
17,Chilli,2.1,11.8,0.4,1.3,1.2,0.0,0.0,0.0,2.6,0.6

In [355]:
vegtable_df.to_csv('vegetable rec.csv', index=False)

# 4.  Dairy Foods and Eggs
* Butter
* Cheese:
    * Brie; Camembert; Cheddar; Cottage â€“ 2 tablespoons; Feta; Goat / chevre; Monterey Jack; Mozzarella; Parmesan; Ricotta â€“ 2 tablespoons; Swiss
* Dairy free chocolate pudding; Eggs; Margarine
* Milk:
    * Almond milk; Hemp milk; Lactose free milk; Macadamia milk; Oat milk â€“ 30 ml, enough for cereal; Rice milk â€“ up to 200ml per sitting
* Sorbet; Soy protein (avoid soya beans); Swiss cheese; Tempeh; Tofu â€“ drained and firm varieties;Whipped cream
* Yoghurt:
    * Coconut yoghurt; Greek yoghurt, in small amounts; Lactose free yoghurt; Goats yoghurt

In [277]:
diary = []

name = 'Goat'
f1 = file23[file23['Food Name'].str.contains('yoghurt')]
f1 = f1[f1['Food Name'].str.contains(name) | f1['Food Name'].str.contains(name.lower())]
if f1.shape[0] != 0:
    diary += [[name] + f1.loc[:,f1.columns[1:]].mean().tolist()]

f1.sort_values(by=['Total Fat'], ascending=True)

Empty DataFrame
Columns: [Food Name, Protein, Total dietary fibre, Total Fat, Fructose, Glucose, Sucrose, Maltose, Lactose, Total sugars, Sorbitol]
Index: []

In [272]:
diary = []

name = 'Tempeh'
f1 = file23[file23['Food Name'].str.contains(name) | file23['Food Name'].str.contains(name.lower())]
if f1.shape[0] != 0:
    diary += [[name] + f1.loc[:,f1.columns[1:]].mean().tolist()]

f1.sort_values(by=['Total Fat'], ascending=True)

Empty DataFrame
Columns: [Food Name, Protein, Total dietary fibre, Total Fat, Fructose, Glucose, Sucrose, Maltose, Lactose, Total sugars, Sorbitol]
Index: []

In [356]:
diary = []
name_list = ['Cottage', 'Cheddar', 'Camembert', 'Cottage', 'Feta', 
             'Mozzarella', 'Parmesan', 'Ricotta', 'Tofu']

for name in name_list:
    f1 = file23[file23['Food Name'].str.contains(name) | file23['Food Name'].str.contains(name.lower())]
    if f1.shape[0] != 0:
        f1 = f1.sort_values(by=['Total Fat'], ascending=True)
        f2 = f1.head(5)
        diary += [[name] + f1.loc[:,f1.columns[1:]].mean().tolist()]

In [359]:
diary_df = pd.DataFrame(diary, columns=file23.columns).dropna().round(1).reset_index(drop=True)
diary_df = diary_df.sort_values(by=['Lactose'], ascending=True).reset_index(drop=True)
diary_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars
0,Camembert,20.4,0.0,23.8,0.0,0.0,0.0,0.0,0.0,0.0
1,Mozzarella,22.2,0.0,22.1,0.0,0.0,0.0,0.0,0.0,0.0
2,Parmesan,37.8,0.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Tofu,12.0,3.5,7.3,0.0,0.0,0.0,0.0,0.0,0.0
4,Feta,16.6,0.0,22.3,0.0,0.0,0.0,0.0,0.4,0.4
5,Cheddar,25.0,0.0,22.2,0.0,0.0,0.0,0.0,1.3,1.4
6,Cottage,15.4,0.0,5.7,0.0,0.0,0.0,0.0,1.8,1.8
7,Cottage,15.4,0.0,5.7,0.0,0.0,0.0,0.0,1.8,1.8
8,Ricotta,10.4,0.0,11.8,0.0,0.0,0.0,0.0,2.7,2.7

In [360]:
diary_df['rate'] = 0
diary_df.loc[ (diary_df.Lactose <= 1), 'rate'] = 1
diary_df.loc[ (diary_df.Lactose > 1) & (diary_df.Lactose <= 2), 'rate'] = 0.9
diary_df.loc[ (diary_df.Lactose > 2) & (diary_df.Lactose <= 3), 'rate'] = 0.8
diary_df.loc[ (diary_df.Lactose > 3) & (diary_df.Lactose <= 4), 'rate'] = 0.7
diary_df.loc[ (diary_df.Lactose > 4), 'rate'] = 0.6

diary_df

,Food Name,Protein,Total dietary fibre,Total Fat,Fructose,Glucose,Sucrose,Maltose,Lactose,Total sugars,rate
0,Camembert,20.4,0.0,23.8,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Mozzarella,22.2,0.0,22.1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Parmesan,37.8,0.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Tofu,12.0,3.5,7.3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Feta,16.6,0.0,22.3,0.0,0.0,0.0,0.0,0.4,0.4,1.0
5,Cheddar,25.0,0.0,22.2,0.0,0.0,0.0,0.0,1.3,1.4,0.9
6,Cottage,15.4,0.0,5.7,0.0,0.0,0.0,0.0,1.8,1.8,0.9
7,Cottage,15.4,0.0,5.7,0.0,0.0,0.0,0.0,1.8,1.8,0.9
8,Ricotta,10.4,0.0,11.8,0.0,0.0,0.0,0.0,2.7,2.7,0.8

In [361]:
diary_df.to_csv('diary rec.csv', index=False)